.container-form{
    
    display:flex;
    margin-top:5em;
    align-items:center;
    align-items: center;
    justify-content: center;
    
}
.form-control{
    width:18em;
    color: #000;
}
.btn.btn-primary{
    width:14em;
    margin-left:2.5em;
    
}